%h5
  -if message.sender.present?
    =link_to user_path(message.sender) do
      =gravatar_image(message.sender, 60)
    =link_to "#{ message.sender.username }", user_path(message.sender)
  -elsif message.contact_email.present?
    [Sent By A Non-Unlist User]
  -else
    [NOT AVAILABLE - Notify Unlist]
%p
  %ul
    %h4
      -if message.messageable_type == 'Unpost'
        =link_to "#{ message.subject }", unpost_path(message.messageable_id)
      -else
        = "#{ message.subject }"

    %p= " \"#{ message.content }\" "

    -if message.contact_email.present?
      %li.list-unstyled
        Outsider's Contact Email:
        =mail_to "#{message.contact_email}", message.contact_email
    -elsif (message.recipient == current_user)
      %li.list-unstyled
        Reply:
        =link_to "#{ message.sender.username }", new_user_message_path(current_user, message)
    -elsif (message.sender == current_user)
      %li.list-unstyled
        Sent to:
        =link_to "#{ message.recipient.username }", new_user_message_path(current_user, message)
    %small
      ="Received: #{ time_ago_in_words(message.created_at) } ago | "
      %span= link_to "[delete]", user_message_path(current_user, message), method: 'delete'
%hr
