-provide(:title, '')

//Code
.row#userbox.col-sm-8
  #showusercontent.well
    .gravatar= @user.decorator.avatar_image_tag(60)
    %h2.text-left
      ="#{@user.username.capitalize}'s Profile"
      %small= link_to "[edit info]", edit_user_path(current_user)
    %hr.hr-lg-dashed

    %p= "Email: #{@user.email}"
    %p= "Password: ***hidden***"
    %p= "Default Location: [ZIPCODE OR NEARBY CITY?]"
    %p= "[DISPLAY THIS LOCATION NAME & MAYBE MAP]"

    %hr.hr-sm-solid
    %h5= "Status"
    %p= "Currently Watched By: [WATCHEDBY COUNT]"
    %p= "Currently Watching: [WATCHING COUNT]"
    %p= "Current Unlist: #{@user.unposts.active.count} Unposts"
    %p= "Unread Messages: [HOW DO I EVEN DO THIS?]"
