#quicksearch.col-xs-9

  %h3#home-search-title
    Search Unlist
    %small.text-muted#search_radius_text
      -if session[:search_radius]
        ="within #{session[:search_radius]} miles of"
      -else
        in
    %small.text-muted#search_location_text
      -if session[:search_state] #if search place is set
        ="#{session[:search_city]}, #{session[:search_state]}"
      -elsif session[:search_zipcode] #if search zipcode is set
        ="#{session[:search_zipcode]}"
      -elsif signed_in? #if user
        -if current_user.location.city.present? #if user has set a place
          ="#{current_user.location.city}, #{current_user.location.state}"
        -elsif current_user.location.zipcode.present? #if user has set a zipcode
          ="#{current_user.location.zipcode}"
      -else #default to Seattle
        Seattle, WA

  %small#radius-location.text-muted
    =link_to "adjust search radius", search_radius_path, { remote: true, data: { toggle: 'modal', target: '#modal-radius' } }
    &nbsp | &nbsp
    =link_to "change location", search_location_path, { remote: true, data: { toggle: 'modal', target: '#modal-location'} }

    #modal-radius.modal.fade(role='dialog' aria-labelledby='searchRadius' aria-hidden='true')
    #modal-location.modal.fase(role='dialog' aria-labelledby='searchLocation' aria-hidden='true')


  %ul.searchform
    =form_tag search_unlistings_path, method: 'post' do
      =text_field_tag :keyword, search_placeholder(@search_string)
      =submit_tag "Search", class: "btn btn-default btn-sm"
      %span
        in
        =select_tag :category_id, options_for_select(category_options)

