-provide(:title, 'Frequently Asked Questions')

//Code for the Unlist FAQ's
#faq.row.col-xs-8.col-xs-offset-1.well
  %h2 Unlist - Frequently Asked Questions
  %ul
    %li= link_to 'Unlister? Unlisting? What?', faq_path(anchor: 'q1')
    %li= link_to 'How do I get started?', faq_path(anchor: 'q2')
    %li= link_to 'What is an unlist good for?', faq_path(anchor: 'q3')
    %li= link_to "What is \"Community Reuse\"?", faq_path(anchor: 'q4')
    %li= link_to 'What info is required to sign up?', faq_path(anchor: 'q5')
    %li= link_to 'Can I login with other social media accounts?', faq_path(anchor: 'q6')
    %li= link_to 'Do I need to signup to browse or search Unlist postings & contact interested buyers?', faq_path(anchor: 'q7')
    %li= link_to "Using Unlist - Levels of Use", faq_path(anchor: 'q8')
    %li= link_to "Can I make unlistings to SELL things on Unlist.it?", faq_path(anchor: 'q9')
  %br
  %br
  %br


  // FAQ #1
  %h3#q1
    "Unlister? Unlisting? What?
  %ul
    %li.list-no-bullet
      %h5 Unlister
    %ul
      %li.list-no-bullet Simply, a BUYER looking for stuff.
      %br

  %ul
    %li.list-no-bullet
      %h5 Unlisting
    %ul
      %li.list-no-bullet A wanted ad for something an unlister(buyer) is looking for. These form the Unlister's unlist(wishlist).
      %br
  %hr
  %br

  // FAQ #2
  %h3#q2
    How do I get started?
  %ul
    %li.list-no-bullet
      %h5
        Check out the
        =link_to 'Getting Started', gettingstarted_path
        page
  %hr
  %br


  // FAQ #3
  %h3#q3
    What is an Unlist good for?
  %ul
    %li.list-no-bullet
      %h5 Announcing to the world that you want something.
    %ul
      %li.list-no-bullet
        This enables others to sell their stuff to you.
    %li.list-no-bullet
      %h5 Helping friends & family have an easier time knowing what you want.
    %ul
      %li.list-no-bullet
        This simplifies & de-stresses the process of getting you a gift, since others can quickly & confidently find a perfect gift idea for you.
    %li.list-no-bullet
      %h5 Promoting a more sustainable world by community sharing.
    %ul
      %li.list-no-bullet
        This helps community reuser's find you & pass on their stuff, or vice-versa.
      %li.list-no-bullet
        Cheap items in the past has not been worth the hassle to post & manage, so we've thrown lots of stuff away. Sad. Search the unlistings to see instantly if anyone is interested in your stuff & can contact them immediately. Win.
        (See also
        =link_to ' Community Reuse', faq_path(anchor: 'q4')
        )
    %li.list-no-bullet
      %h5 Finding rare or specific items
    %ul
      %li.list-no-bullet If you want rare, hard-to-find, or odd things, your unlistings will work to help your interest-to-buy be known. When someone with that item is thinking about selling, they can find you.
      %li.list-no-bullet The hassle of sellers maintaining an ad for a rarely sought-after item is too much work, so Unlist lets the buyers put their interest out for sellers to search for. Less work for sellers & a higher chance of unlisters(buyers) finding that item.
  %hr
  %br


  // FAQ #4
  %h3#q4
    What is "Community Reuse" (aka: "ReUse")?
  %ul
    %li.list-no-bullet Community Reuse is a way of helping others & the environment by giving away things you no longer want or need.
    %br
    %li.list-no-bullet This promotes community and sustainability at a local and global level. You can find more information on the global movement by searching online for "Community Reuse". The "Buy Nothing" or "Trash Backwards" project is a great example of this movement that was started on Bainbridge Island, WA (a ferry ride from Seattle).
    %br
    %li.list-no-bullet Unlist.it also hopes to help foster this type of movement in local communities. You can create a Community Reuse unlisting by putting a zero in for the price. So, before you throw away usable items (yes, even paper bags, wine bottles, fruit tree produce, the list goes on...), do a quick local search and see if you can help a neighbor and reduce the load on our landfills.
  %hr
  %br


  // FAQ #5
  %h3#q5
    What information is required to sign up?
  %ul
    %li.list-no-bullet
      %h5 You just need:
    %ul
      %li.list-no-bullet A valid email address (this will be your signin email)
      %li.list-no-bullet A password (to secure your unlist.it account)
    %li.list-no-bullet
      %h5 That's it.
    %ul
      %li.list-no-bullet We don't want your personal info. That wouldn't benefit you. Plus, we sleep better at night without it.
    %br

    %li.list-no-bullet
      "You can also use
      =link_to 'social media logins',
      faq_path(anchor: 'q4')
      , if you'd prefer to avoid having another password to remember."
      %p.text-muted [FUTURE FEATURE]
  %hr
  %br

  // FAQ #6
  %h3#q6
    Can I login to Unlist with other social media accounts (such as Facebook or Twitter)?
  %ul
    %li.list-no-bullet
      %p Yes, of course! We currently support Facebook, Twitter, and Pintrest account logins.
      %h4.text-muted [FUTURE FEATURE]
  %hr
  %br

  // FAQ #7
  %h3#q7
    Do I need an account to use Unlist?
  %ul
    %li.list-no-bullet
      %h5 Nope.
      %ul
        %li.list-no-bullet You can search the unlistings(wanted ads) all day if you'd like.
        %li.list-no-bullet
          If you find an unlister(buyer) looking for something you have, you'll need to either be a SafeGuest or an Unlister to contact them. See below for more info on
          =link_to "levels of use.", faq_path(anchor: 'q8')
  %hr
  %br

  // FAQ #8
  %h3#q8
    Using Unlist - Levels of Use
  %ul
    %h5 Unlist.it has 3 levels of use:
    %ol
      %li OUTSIDERS:  You can browse & search to your heart's content without an account!
      %li
        SAFEGUESTS: Register your email to verify you're not a spammer/bot and we'll let you contact unlisters(buyers).
        %small (note: we do allow our unlisters(users) to choose whether or not to allow contact from SafeGuests or to limit contact to full-unlisters only.)
      %li UNLISTERS: Full access to make unlistings(wanted ads), to make unlists(wishlists), and contact other unlisters through Unlist.it.
    %br
    %li.list-no-bullet
      =link_to 'Sign up here', signup_path, target: '_blank'
      or see our
      =link_to 'getting started', gettingstarted_path, target: '_blank'
      page for more information.
  %hr
  %br


  // FAQ #9
  %h3#q9
    Can I make unlistings to SELL things on Unlist.it?
  %ul
    %li.list-no-bullet
      %h5 No.
      %ul
        %li.list-no-bullet
          Sorry, Unlist.it unlistings are BUY ads ONLY. If you'd like to make ads to sell things, there are already lots of sites for that. Such as:
          %span
            =link_to 'Craigslist', 'http://www.craigslist.org', target: '_blank'
            and
            =link_to 'eBay', 'http://www.ebay.com', target: '_blank'
        %br
        %li.list-no-bullet
        Here is how SELLERS should use this website: Search for items that you HAVE & want to sell. If you (the SELLER) search & find an unlisting precisely describing the item you are selling, you can contact the unlister who made the unlisting & offer to sell them the item.

