-provide(:title, 'Frequently Asked Questions')

//Code for the Unlist FAQ's
#faq.row.col-xs-8.col-xs-offset-1.well
  %h2 Unlist - Frequently Asked Questions
  %ul
    %li= link_to 'Unlister? Unlisting? Unlist? What?', faq_path(anchor: 'q1')
    / %li= link_to 'So, what\'s the big deal?', faq_path(anchor: 'q2')
    %li= link_to 'What is an unlist good for?', faq_path(anchor: 'q3')
    %li= link_to 'What info is required to sign up?', faq_path(anchor: 'q4')
    %li= link_to 'Can I login with other social media accounts?', faq_path(anchor: 'q5')
    %li= link_to 'Do I need to signup to browse or search Unlist postings & contact interested buyers?', faq_path(anchor: 'q6')
    %li= link_to "What is \"Community Reuse\" (aka: \"ReUse\"", faq_path(anchor: 'q7')
    %li= link_to "How do I get started using Unlist.it?", faq_path(anchor: 'q8')
  %br
  %br
  %br


  // FAQ #1
  %h3#q1
    "Unlister? Unlisting? Unlist? What are these?
  %ul
    %li.list-no-bullet
      %h5 Unlister
    %ul
      %li.list-no-bullet Simply, a BUYER looking for stuff.
      %br

  %ul
    %li.list-no-bullet
      %h5 Unlisting
    %ul
      %li.list-no-bullet A wanted ad for something as unlister(buyer) is looking for.
      %br
  %ul
    %li.list-no-bullet
      %h5 What is an "unlist"?
    %ul
      %li.list-no-bullet It's the compilation of unlistings(wanted ads) that unlisters(buyers) are looking for.
  %hr
  %br

  / // FAQ #2
  / %h3#q2
  /   So, what's the big deal?
  / %ul
  /   %li.list-no-bullet
  /     %h5 Easier for buyers
  /   %ul
  /     %li.list-no-bullet Stop spending hours looking for items online. Make an unlisting for that item & a seller will find you.
  /     %li.list-no-bullet Once you have your unlist, your searching is done. Your unlist is always working to help sellers find you.

  / %ul
  /   %li.list-no-bullet
  /     %h5 Easier for sellers
  /   %ul
  /     %li.list-no-bullet Stop spending hours managing online ads. Find buyers instantly with a search.
  /     %li.list-no-bullet Curious if people are interested in things you have? Find out the demand and how much people will pay.
  / %hr
  / %br


  // FAQ #3
  %h3#q3
    What is an Unlist good for?
  %ul
    %li.list-no-bullet
      %h5 Announcing to the world that you want to buy something.
    %ul
      %li.list-no-bullet Yep.
    %li.list-no-bullet
      %h5 It helps promote a more sustainable world by community sharing.
    %ul
      %li.list-no-bullet
        Make an unlisting of what you're looking for to help community recyclers find you & pass on their stuff.
      %li.list-no-bullet
        Posting & managing ads for a cheap items in the past has not been worth the hassle, so we've thrown lots of stuff away.
        %br
        Sad, because someone would probably have liked that stuff. Search the unlistings to see instantly if anyone is interested in your stuff & can contact them immediately. Win-win.
        (See also
        =link_to ' Community Reuse', faq_path(anchor: 'q6')
        )

    %li.list-no-bullet
      %h5 Assists in finding rare or specific items
    %ul
      %li.list-no-bullet If you want rare, hard-to-find, or odd things, your unlistings will work to help your interest-to-buy be known. When someone with that item is thinking about selling, they will be able to find you.
      %li.list-no-bullet The hassle of sellers maintaining an ad for a rarely sought-after item is too much work, so Unlist lets the buyers put their interest out for sellers to search for. Less work for sellers & a higher chance of unlisters(buyers) finding that item.


  %hr
  %br

  // FAQ #4
  %h3#q4
    What information is required to sign up?
  %ul
    %li.list-no-bullet
      %h5 You just need:
    %ul
      %li.list-no-bullet A valid email address (this will be your login email)
      %li.list-no-bullet A password (to secure your unlist.it account)
    %li.list-no-bullet
      %h5 That's it.
    %ul
      %li.list-no-bullet We don't want your personal info. That wouldn't benefit you. Plus, we sleep better at night without it.
    %br

    %li.list-no-bullet
      "You can also use
      =link_to 'social media logins',
      faq_path(anchor: 'q4')
      , if you'd prefer to avoid having another password to remember."
  %hr
  %br

  // FAQ #5
  %h3#q5
    Can I login to Unlist with other social media accounts (such as Facebook or Twitter)?
  %ul
    %li.list-no-bullet
      %p Yes, of course! We currently support Facebook, Twitter, and Pintrest account logins.
      %h4.text-muted [FUTURE FEATURE]
  %hr
  %br

  // FAQ #6
  %h3#q6
    Do I need an account to use Unlist?
  %ul
    %li.list-no-bullet
      %h5 Nope, but there are advantages that an account provides.
      %h5 Unlist.it has 3 levels of use:
    %ol
      %li OUTSIDERS:  You can browse & search to your heart's content without an account!
      %li
        SAFEGUESTS: Register your email to verify you're not a spammer/bot and we'll let you contact unlisters(buyers).
        %small (note: we do allow our unlisters(users) to choose whether or not to allow contact from SafeGuests or to limit contact to full-unlisters only.)
      %li UNLISTERS: Full access to make unlistings(wanted ads), correspond through Unlist.it, and contact other unlisters.
  %hr
  %br

  // FAQ #7
  %h3#q7
    What is "Community Reuse" (aka: "ReUse")?
  %ul
    %li.list-no-bullet Community Reuse is a way of helping others & the environment by giving away things you no longer want or need.
    %br
    %li.list-no-bullet This promotes community and sustainability at a local and global level. You can find more information on the global movement by searching online for "Community Reuse". "Buy Nothing" or "Trash Backwards" is a great project that was started on Bainbridge Island, WA (a ferry ride from Seattle) that has been doing a great job of promoting this way of living. The idea is simple: instead of throwing usable items away, arrange to leave it on your porch for a neighbor to pick up.
    %br
    %li.list-no-bullet Unlist.it also hopes to help foster this movement in local communities. So, before you throw away usable items (yes, even paper bags, wine bottles, fruit tree produce, the list goes on...), do a quick local search and see if you can help a neighbor and reduce the load on our landfills.
  %hr
  %br

  // FAQ #8
  %h3#q8
    How do I use Unlist.it?
  %ul
    %li.list-no-bullet
      You can use Unlist.it as an "Unlister" by
      =link_to 'signing up', signup_path, target: '_blank'
      or as a guest (we call them "SafeGuests"). Please see our
      =link_to 'getting started', gettingstarted_path, target: '_blank'
      for more information on getting started as a bona fied "Unlister".

