-provide(:title, 'Frequently Asked Questions')

//Code for the Unlist FAQ's
#faq.row.col-sm-8.col-sm-offset-1.well
  %h2 Unlist - Frequently Asked Questions
  %ul
    %li= link_to 'What is an unlist?', faq_path(anchor: 'q1')
    %li= link_to 'What is an unlist good for?', faq_path(anchor: 'q2')
    %li= link_to 'What info is required to sign up?', faq_path(anchor: 'q3')
    %li= link_to 'Can I login with other social media accounts?', faq_path(anchor: 'q4')
    %li= link_to 'Do I need to signup to browse or search Unlist postings & contact interested buyers?', faq_path(anchor: 'q5')
  %br
  %br
  %br


  // FAQ #1
  %h3#q1
    What is an unlist?
  %hr
  %p When a Wishlist marries a Wanted Ad and has a baby - it's an Unlist. An Unlist is your personal list of requests to buy things. Each request is called an unpost.

  %p
    Easier for buyers
    %ul
      %li Stop spending hours looking for items online. Make an unpost for that item & a seller will find you.
      %li Once you have your unlist, your searching is done. Your unlist is always working to help sellers find you.

  %p
    Easier for sellers
    %ul
      %li Stop spending hours managing online ads. Find buyers instantly with a search.
      %li= "Is someone interested in your <insert your thing here>? Find out the demand and how much people will pay."

  %h5
    Wanted Ad + Wishlist = Unlist
  %br
  %br


  // FAQ #2
  %h3#q2 What is an Unlist good for?
  %hr

  %p It helps promote a more sustainable world.
  %ul
    %li
      Posting & managing ads for a cheap items isn't worth the hassle, so we throw it away.
      %br
      Sad, because someone probably wants it. Now you can see instantly & contact them immediately. Win-win.
    %li
      Unposts foster community sharing. Give items away in your local community!
  %br

  %p It saves everyone lots of time & hassle.
  %ul
    %li Don't browse what is for sale, browse what people want. Now you have almost instant sales.
  %br

  %p Unlist provides new opportunities:
  %ul
    %li
      Rare or odd items are hard for buyers to find & similarly hard work for sellers to sell. Not anymore. Find out instantly if there is a buyer out there for your stuff. And buyers, all you need to do is make an unpost for it & wait to be found.
    %li
      Finding stuff can be hard, frustrating, and time consuming. Unlist turns the status-quo inside-out and saves everyone time.
  %br
  %br

  // FAQ #3
  %h3#q3 What information is required to sign up?
  %hr

  %ul
    %li.list-no-bullet
      %p
        You just need a valid email address, zipcode, and to pick a password for your account.
      %p
        We don't want your specific personal info, anyway -- that would be WAAY too much for us to worry about. Plus, it wouldn't help you at all.
    %p
      "You can also use
      =link_to 'social media logins',
      faq_path(anchor: 'q4')
      , if you'd prefer to avoid having another login/password to remember."
  %br
  %br

  // FAQ #4
  %h3#q4
    Can I login to Unlist with other social media accounts (such as Facebook or Twitter)?
  %hr
  %ul
    %li.list-no-bullet
      %p Yes, of course! We currently support Facebook, Twitter, and Pintrest account logins.
  %br
  %br

  // FAQ #5
  %h3#q5
    Do I need an account to use Unlist?
  %hr
  %ul
    %li.list-no-bullet
      %p You can browse & search to your heart's content without an account.
      %p With an account you can make unposts and contact anyone.
      %p If you don't want a full account, but still want to be able to contact buyers, you can add your email to your SafeGuests email list. This grants you access to contact many users (note: we do allow our users to choose whether or not to allow contact from SafeGuests).



