.row#adminbox.col-xs-8
  #adminboxcontent.well
    %h3 All Invitations
    %div.table-responsive
      %table.table.table-bordered
        %tbody
        %tr
          %th TO
          %th From
          %th From
        -@invitations.each do |invitation|
          %tr
            %td= "#{invitation.recipient_email}"
            %td= "#{invitation.sender.username}"
            %td= "#{invitation.accepted? ? 'yes' : 'no'}"
