-provide(:title,       'Search Unlistings')
-provide(:description, "Search unlistings (wanted ads) to find & connect with local BUYERS.")

%br
%p= render partial: 'shared/quicksearch'

//Code for unlistings search results
#searchbox.row.col-xs-8.well
  .searchresults
    //-# This seems like a job for a decorator object
    %h2= "Search results for '#{ @search_string }' in #{ @search_category == '0' ? "all categories" : @search_category.name } found #{pluralize(@search_results.total_entries, 'unlisting')}"
    %hr.hr-lg-solid

    .infinite-search-results
      =render partial: 'unlistings/unlisting', collection: @search_results, as: :unlisting
    =link_to "load more results", search_unlistings_path(category_id: @search_category, keyword: @search_string, page: @search_results.next_page), class: 'infinite-load-post', remote: true if @search_results.next_page

    -#Former approach of loading the results to display by category
    / -category_array(@search_results).each do |category|
    /   %h3#category-heading= link_to "#{category.name}", browse_category_path(category_id: "#{category.id}")
    /   %hr.hr-xs-solid

    /     =render partial: 'unlistings/unlisting', collection: @search_results.select{|item| item.category.id == category.id}, as: :unlisting
    /     =link_to "load more results", search_unlistings_path(category_id: category.id, keyword: @search_string, load_more_page: true), class: 'click-load', remote: true if @search_results.next_page

