%ul.listcategory
  %h5
    #{category.name}
    //-# TODO: COULD USE A DECORATOR HERE
    %span &nbsp;&nbsp;&nbsp;
    %span= link_to "edit", edit_admin_category_path(category)
    %span &nbsp;|&nbsp;
    %span= link_to "delete", admin_category_path(category), method: 'delete', confirm: "Are you sure you want to delete this Category & its Conditions?"
  -unless category.conditions.blank?
    -category.conditions.sort_by(&:position).each do |condition|
      %li
        #{condition.position} -- #{condition.level}
        //-# TODO: COULD USE SAME DECORATOR HERE
        %span &nbsp;&nbsp;&nbsp;
        %span= link_to "edit", edit_admin_condition_path(condition)
        %span &nbsp;|&nbsp;
        %span= link_to "remove", admin_condition_path(condition), method: 'delete', confirm: "Are you sure you want to delete this Condition?"
  %hr.hr-sm-solid
