%h4
  =link_to user_path(user) do
    =gravatar_image(user, 60)
  =link_to "#{user.username}", user_path(user)
%p
  %ul
    %li= "Email: #{user.email}"
    %li= "Joined: #{user.created_at}"
    %li UnPosts: #{user.unposts.count}
    %li Messages(Out): [MESSAGES COUNT HERE]
    %li Messages(In): [MESSAGES COUNT HERE]
    %li
      Actions:
      %a(href='') [lock user]
      =link_to "| delete user", admin_user_path(user), method: 'delete'
%hr
