-provide(:title, '')

//Code for list of users
.row#userbox.col-xs-8
  #alluserslistcontent.well
    -if @users.present?
      -@users.each do |user|
        %h4
          =link_to user_path(user) do
            =user.decorator.avatar_image_tag(60)
          =link_to "#{user.username}", user_path(user)
        %p
          %ul
            %li= "Email: #{user.email}"
            %li= "Joined: #{user.created_at}"
            %li Unlistings: #{user.unlistings.active.count}
            %li Messages(Out): [MESSAGES COUNT HERE]
            %li Messages(In): [MESSAGES COUNT HERE]
            %li
              Actions:
              %a(href='') [lock user]
              =link_to "| delete user", admin_user_path(user), method: 'delete'
        %hr
    -else
      %h5 There are currently no users.
