.row#userbox.col-sm-8
  #userboxcontent.well
    %h4= "#{title}"

    -# Dropzone Area for File Uploads
    %form.dropzone.dz-clickable#unimage-dropzone{ action: "/add_unimage", method: 'post' }
      .input{ name: "unimage[filename]", type: "file" }
      -#Token passed with creation of unimage for server reference to unpost
      %input{ name: "unimage[token]",    type: "hidden", value: "#{@token}" }

    %br
    %ul#additem
      -# Verify if still need multipart here
      =bootstrap_form_for [user, unpost], html: { multipart: true }, layout: :horizontal, label_col: 'col-sm-4', control_col: "col-sm-6" do |f|
        =f.hidden_field :token, value: "#{@token}"
        =f.collection_select :category_id, Category.all, :id, :name, { prompt: "select a category" }, { class: 'unpost_category_select' }
        =f.text_field :title,       label: "Title*"
        =f.text_area  :description, label: "Description*", size: '24x6'
        =f.url_field  :link,        label: "Website Example"
        =f.select :condition_id, [], { prompt: "select a category above", label: "Minimum Condition", }, { id: "unpost_condition_select" }
        //-#(price == 0) => FREE, (price = -1) => Any, (price > 0) => price; Decorator or Helper for This.
        =f.text_field :price,    prepend: "$"
        =f.text_field :keyword1, label: "Keyword 1*"
        =f.text_field :keyword2, label: "Keyword 2"
        =f.text_field :keyword3, label: "Keyword 3"
        =f.text_field :keyword4, label: "Keyword 4"

        //Uploading Multiple Unimages
        / %hr
        / %h4 Upload Images (aka: UNimages)
        / =f.fields_for :unimages, Unimage.new do |u|
        /   .upload-unimages
        /     // .unimage-thumb=image_tag(@unpost.unimage) if @unpost.picture1?
        /     =u.label        :filename#, t('.upload_new_file')
        /     =u.file_field   :filename, multiple: true, class: 'btn btn-file', id: 'upload-image', name: 'unimages[filename][]' #"unimages[filename][]"
        /     // [] at end allows multiple for controller
        /     =u.hidden_field :filename

        =f.form_group do
          =f.submit "#{button_name}", class: "btn btn-primary"#, t(:save)






