-provide(:title, '')

//Code for the quick-search bar
.row
  #usersearch.col-sm-8
    =render partial: 'shared/quicksearch'

.row#userbox.col-sm-8
  #userboxcontent.well
    %h4= "#{@unpost.category.name} -> #{@unpost.title}"
    %ul.unpost_top_details
      %li= "Price: #{@unpost.price}"
      %li= "Condition: #{@unpost.condition.level}"
      %li= "Looking In: #{@unpost.zipcode}"
    %h6= "Description: #{@unpost.description}"
    %h7= "Here's An Example: #{@unpost.link}"
    %h8
      Keywords:
      %ul.unpost_keywords
        %li= "#{@unpost.keyword1} | "
        %li= "#{@unpost.keyword2} | "
        %li= "#{@unpost.keyword3} | "
        %li= "#{@unpost.keyword4}"
        //-#Need a decorator here to gather keywords & display them properly
    %h7
      Location/Travel Information
      %ul.unpost_travel_info
        %li= "Willing to travel?: #{@unpost.travel}"
        %li= "Max Distance: #{@unpost.distance} miles"
        -#Use GEOCODER or similar gem here
        %li= "From: #{@unpost.zipcode}"

