-provide(:title, '')

%h5.breadcrumb.text-muted
  ="#{@unpost.category.name}"
  %span= "-> #{@unpost.title}"

.row#userbox.col-sm-8
  #contactbuyer{style: "#{ ( flash[:error].present? ? 'display:block' : 'display: none' ) }" }
    =render partial: 'unposts/message_form', locals: { unpost: @unpost, message: @message }
  #userboxcontent.well

    .buyer-info.text-right
      ///POSSIBLE CANDIDATE FOR DECORATOR
      -if signed_in? && creator?(@unpost)
        =@unpost.creator.decorator.avatar_image_tag(60)
        %p= link_to "[edit post]", edit_user_unpost_path(current_user, @unpost), class: 'contact-buyer-link'
      -else
        =link_to unpost_show_message_form_path(@unpost), remote: true, class: 'contact-buyer-link' do
          =@unpost.creator.decorator.avatar_image_tag(60)
        %p= link_to "[contact buyer]", unpost_show_message_form_path(@unpost), remote: true, class: 'contact-buyer-link'

    -if @unpost.unimages.present?
      .galleria
        -@unpost.unimages.each do |unimage|
          %a{ href: unimage.filename.url(:full_unimage), title: unimage.id, alt: 'unimage photo' }
            =image_tag(unimage.filename.url(:thumb_unimage))
      %div
        =javascript_tag do
          ="Galleria.loadTheme( '#{javascript_path 'galleria.classic.min.js'}');"
          ="Galleria.run('.galleria');"

      //LIGHTBOX IS READY TO GO FOR RESPONSIVE DESIGN - UNCOMMENT THIS & THE JAVASCRIPT FILE CODE
      / #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
      /   .slides
      /   %h3.title
      /   %a.prev
      /   %a.next
      /   %a.close
      /   %a.play-pause
      /   %ol.indicator
      -#use ".links" for blueimp lightbox


    %br
    %hr

    %h5
      Here's An Example:
      =link_to "#{@unpost.link}", @unpost.link, target: 'blank'
    %p= "Subject: #{ @unpost.title }"
    %p= "Description: #{@unpost.description}"
    %ul.unpost-top-details
      %li= "Price: #{@unpost.price}"
      %li= "Condition: #{@unpost.condition.level}"
      %li= "Looking In: #{@unpost.zipcode}"
    %p
      Keywords:
      %ul.unpost-keywords
        %li= "#{@unpost.keyword1}"
        -unless @unpost.keyword2.blank?
          %li= " | #{@unpost.keyword2}"
        -unless @unpost.keyword3.blank?
          %li= " | #{@unpost.keyword3}"
        -unless @unpost.keyword4.blank?
          %li= " | #{@unpost.keyword4}"
        //-#Need a decorator here to gather keywords & display them properly
    %h7
      Location/Travel Information
      %ul.unpost-travel-info
        %li= "Willing to travel?: #{@unpost.travel}"
        %li= "Max Distance: #{@unpost.distance} miles"
        -#Use GEOCODER or similar gem here
        %li= "From: #{@unpost.zipcode}"



