-provide(:title, '')

%h5.breadcrumb
  =link_to "#{@unpost.category.name}", :back
  %span= "-> #{@unpost.title}"

.row#userbox.col-sm-8
  #contactbuyer{style: "#{ ( flash[:error].present? ? 'display:block' : 'display: none' ) }" }
    =render partial: 'unposts/message_form', locals: { unpost: @unpost, message: @message }
  #userboxcontent.well
    .buyer-info.text-right
      ///POSSIBLE CANDIDATE FOR DECORATOR
      -if signed_in? && creator?(@unpost)
        =gravatar_image(@unpost.creator, 60)
      -else
        =link_to unpost_show_message_form_path(@unpost), remote: true, class: 'contact-buyer-link' do
          =gravatar_image(@unpost.creator, 60)
        %p= link_to "[contact buyer]", unpost_show_message_form_path(@unpost), remote: true, class: 'contact-buyer-link'
    %h5
      Here's An Example:
      =link_to "#{@unpost.link}", @unpost.link, target: 'blank'
    %p= "Subject: #{ @unpost.title }"
    %p= "Description: #{@unpost.description}"
    %ul.unpost-top-details
      %li= "Price: #{@unpost.price}"
      %li= "Condition: #{@unpost.condition.level}"
      %li= "Looking In: #{@unpost.zipcode}"
    %p
      Keywords:
      %ul.unpost-keywords
        %li= "#{@unpost.keyword1}"
        -unless @unpost.keyword2.blank?
          %li= " | #{@unpost.keyword2}"
        -unless @unpost.keyword3.blank?
          %li= " | #{@unpost.keyword3}"
        -unless @unpost.keyword4.blank?
          %li= " | #{@unpost.keyword4}"
        //-#Need a decorator here to gather keywords & display them properly
    %h7
      Location/Travel Information
      %ul.unpost-travel-info
        %li= "Willing to travel?: #{@unpost.travel}"
        %li= "Max Distance: #{@unpost.distance} miles"
        -#Use GEOCODER or similar gem here
        %li= "From: #{@unpost.zipcode}"



