.link-thumb-checkbox
  -if @unlisting.present? && @unlisting.link_image.present?
    =check_box_tag('image_links[use_thumb_image]', 'yes', true)
  -else
    =check_box_tag('image_links[use_thumb_image]', 'yes', false)
  =label_tag(    'Use an image from the linked website as my primary unlisting image.')


#link-image-thumbs{class: "#{(@unlisting.present? && @unlisting.link_image.present?) ? '' : 'hide'}"}
  %p Please select the image below:

  -thumb_links.each_with_index do |link, index|
    .thumb-image{ id: "thumb_#{index}" }
      .image-selector
        -#Checks if the link matches unlisting.link_image - checked, if they do; otherwise unchecked.
        =radio_button_tag("image_links[link_radio_select]", "#{index}", ((@unlisting.present? && (@unlisting.link_image == link)) ? true : false))
        =image_tag(link, class: 'thumbnail-80')
        =hidden_field_tag "image_links[#{index}]", "#{link}"
%br
