-#This is for listing out unlisting summaries in :index or such

.unlisting-box
  %h5
    =link_to unlisting_path(unlisting) do
      -if unlisting.link_image.present?
        =image_tag(unlisting.link_image, class: 'thumbnail-80')
      -elsif unlisting.unimages.present?
        =image_tag(unlisting.unimages.first.filename.url(:thumb_unimage), class: 'thumbnail-80')
      -elsif unlisting.found?
        %i.fa.fa-check.green-color
    =link_to "#{ unlisting.title }", unlisting_path(unlisting)

  %p
    %ul
      %li
        Example:
        %span= link_to "#{ unlisting.link }", unlisting.link, class: "wrap-link", target: "_blank"
      -if local_assigns.has_key?(:browse_category) && browse_category == "All"
        %li= "Category: {   unlisting.category.name            }"
      %li= "Description: #{ unlisting.description.truncate(45) }"
      %li= "Condition: #{   unlisting.condition.level          }"

      -if unlisting.price == 0
        %li
          Pay up to:
          %span.green-color [Community Reuse]
      -else
        %li= "Pay up to: #{ number_to_currency(unlisting.price, precision: 0) }"
      %li
        ="Posted: #{ time_ago_in_words(unlisting.created_at) } ago "
        -if signed_in? && creator?(unlisting)
          %small
            &nbsp|
            =link_to user_unlisting_path(unlisting.creator.slug, unlisting.slug), method: 'delete' do
              %i.fa.fa-close.fa-2
              [delete]
          -if !unlisting.inactive?
            %small
              &nbsp|
              =link_to user_unlisting_path(unlisting.creator.slug, unlisting.slug, found: "true"), method: 'delete' do
                %i.fa.fa-check.fa-2
                [found!]

      -if unlisting.parent_messages.present? && signed_in? && (unlisting.creator.id == current_user.id)

        %li.list-no-bullet
          %h5.hideshow-response.text-muted.underline
            %u Hide/Show Seller Responses
          %ul.list-unstyled.hide
            =render partial: "unlistings/response_message", collection: unlisting.parent_messages, as: :message, locals: { unlisting: unlisting }
%hr.hr-xs-solid

