.row#userbox.col-xs-8
  #userboxcontent.well
    %h4= "#{title}"

    -# Dropzone Area for File Uploads
    %form.dropzone.dz-clickable#unimage-dropzone{ action: "/add_unimage", method: 'post' }
      .input{ name: "unimage[filename]", type: "file" }
      -#Token passed with creation of unimage for server reference to unlisting
      %input{ name: "unimage[token]",    type: "hidden", value: "#{ @token }" }


    -if @unimages.present?
      #unimages-reload-display
        %h5.text-muted
          Already Uploaded Images:
        -@unimages.each do |unimage|
          .unimage-preview-template
            .viewer
              =image_tag unimage.filename.url(:thumb_unimage)
            %input{ name: 'unimage[id]',       value: unimage.id,      type: 'hidden' }
            %input{ name: 'unimage[token]',    value: unimage.token,   type: 'hidden' }
            %input{ name: 'unimage[filename]', value: unimage.filename, type: 'hidden' }
            %a.remove-unimage.btn.btn-default.btn-xs remove


    %br
    %ul#additem
      %p#required-field * = required fields
      -# Verify if still need multipart here
      =bootstrap_form_for [user, unlisting], html: { multipart: true }, layout: :horizontal, label_col: 'col-xs-4', control_col: "col-xs-6" do |f|
        =f.hidden_field :token, value: "#{@token}"
        =f.collection_select :category_id, Category.order('name ASC').all, :id, :name, { prompt: "select a category" }, { class: 'unlisting_category_select' }
        =f.text_field :title,       label: "Title*"
        =f.text_area  :description, label: "Description*", size: '24x6', placeholder: "Describe what you're looking for...."
        =f.text_field  :link,       label: "Website Example"
        =f.select :condition_id, [], { prompt: "select a category above", label: "Minimum Condition*", }, { id: "unlisting_condition_select" }
        //-#(price == 0) => FREE, (price = -1) => Any, (price > 0) => price; Decorator or Helper for This.
        =f.text_field :price,    label: "Price (up to)*", prepend: "$"
        =f.text_field :keyword1, label: "Keyword 1*"
        =f.text_field :keyword2, label: "Keyword 2"
        =f.text_field :keyword3, label: "Keyword 3"
        =f.text_field :keyword4, label: "Keyword 4"

        //Uploading Multiple Unimages
        / %hr
        / %h4 Upload Images (aka: UNimages)
        / =f.fields_for :unimages, Unimage.new do |u|
        /   .upload-unimages
        /     // .unimage-thumb=image_tag(@unlisting.unimage) if @unlisting.picture1?
        /     =u.label        :filename#, t('.upload_new_file')
        /     =u.file_field   :filename, multiple: true, class: 'btn btn-file', id: 'upload-image', name: 'unimages[filename][]' #"unimages[filename][]"
        /     // [] at end allows multiple for controller
        /     =u.hidden_field :filename

        =f.form_group do
          =f.submit "#{button_name}", class: "btn btn-primary"#, t(:save)






