.row#userbox.col-xs-12.col-sm-10.col-md-8
  #userboxcontent.well
    %h2.text-muted.text-center= "#{title}"
    %hr.hr-med-solid

    #optional-dropzone.hide
      -# Dropzone Area for File Uploads
      %form.dropzone.dz-clickable#unimage-dropzone{ action: "/add_unimage", method: 'post' }
        .input{ name: "unimage[filename]", type: "file" }
        -#Token passed with creation of unimage for server reference to unlisting
        %input{ name: "unimage[token]",    type: "hidden", value: "#{ @token }" }


    -if @unimages.present?
      #unimages-reload-display
        %h5.text-muted
          Already Uploaded Images:
        -@unimages.each do |unimage|
          .unimage-preview-template
            .viewer
              =image_tag unimage.filename.url(:thumb_unimage)
            %input{ name: 'unimage[id]',       value: unimage.id,       type: 'hidden' }
            %input{ name: 'unimage[token]',    value: unimage.token,    type: 'hidden' }
            %input{ name: 'unimage[filename]', value: unimage.filename, type: 'hidden' }
            %a.remove-unimage.btn.btn-default.btn-xs remove
    -if @unlisting.present? && @unlisting.link_image.present?
      #link-image-reload-display
        %h5.text-muted
          Primary Linked Image:
          .link-image-preview-template
            .viewer
              =image_tag @unlisting.link_image


    %br
    %ul#additem
      %p.red-text * = required fields
      -# Verify if still need multipart here
      =bootstrap_form_for [current_user, @unlisting], html: { multipart: true }, layout: :horizontal, label_col: 'col-xs-12 col-sm-4', control_col: "col-xs-12 col-sm-7" do |f|
        =f.hidden_field :token, value: "#{@token}"
        =f.collection_select :category_id, Category.order('name ASC').all, :id, :name, { prompt: "select a category", label: "Category*" }, { class: 'unlisting_category_select' }
        =f.text_field :title,       label: "Title*"
        =f.text_area  :description, label: "Description*", size: '24x6', placeholder: "Describe what you're looking for...."

        -# Use thumbnailer to load link images
        -#=f.text_field  :link,       label: "Webpage Example", class: "link-thumbnails-input"
        =f.text_field  :link, class: 'link-thumbnails-input', label: "Webpage Example & Pic", title: 'Provide the address to a specific webpage that has the item you are looking for. This web address also allows you to choose a primary unlisting image for display - an optional checkbox will appear below.'

        .link-thumbnails{ data: { id: @unlisting.slug } }

        =f.static_control nil, label: "Upload Images" do
          =link_to "display image upload area(optional)", "#dropzone", id: "hideshow-dropzone", title: "This is only if you want to upload any images from your home computer. Sometimes you have a version of the thing you want (like that perfect coat you wore out and can no longer find in stores), so if you can't find an example online then this will help you show exactly what you're looking for."
          -#JS toggle for showing or hiding dropzone area

        =f.select :condition_id, [], { prompt: "select a category above", label: "Minimum Condition*"}, { id: "unlisting_condition_select", data: { current: (@unlisting.condition.present? ? @unlisting.condition.id : nil) } }
        =f.text_field :price,    label: "Price (up to)*", prepend: "$", title: "This is the price you'd be willing to pay. Maybe a lot. Maybe a little. Maybe nothing. For Community Reuse, enter '0'  (that's a zero) and it will display as Community Reuse."
        =f.text_field :keyword1, label: "Keyword 1*", title: "These keywords are what unlist uses to find your unlisting when someone searches."
        =f.text_field :keyword2, label: "Keyword 2",  title: "These keywords are what unlist uses to find your unlisting when someone searches."
        =f.text_field :keyword3, label: "Keyword 3",  title: "These keywords are what unlist uses to find your unlisting when someone searches."
        =f.text_field :keyword4, label: "Keyword 4",  title: "These keywords are what unlist uses to find your unlisting when someone searches."

        //Uploading Multiple Unimages
        / %hr
        / %h4 Upload Images (aka: UNimages)
        / =f.fields_for :unimages, Unimage.new do |u|
        /   .upload-unimages
        /     // .unimage-thumb=image_tag(@unlisting.unimage) if @unlisting.picture1?
        /     =u.label        :filename#, t('.upload_new_file')
        /     =u.file_field   :filename, multiple: true, class: 'btn btn-file', id: 'upload-image', name: 'unimages[filename][]' #"unimages[filename][]"
        /     // [] at end allows multiple for controller
        /     =u.hidden_field :filename
        =f.form_group do
          =f.check_box :visibility, {id: "visibility-options", label: "Protected", checked: ( @unlisting.present? ? (@unlisting.visibility == "protected") : false)}, "protected", "everyone"
          %p.red-text
            %small
              %em "Protected" unlistings don't show up in searches, but CAN still be publicly viewed under your profile.

        =f.form_group do
          =f.submit "#{button_name}", class: "btn btn-primary", id: (@unlisting.new_record? ? "addunlisting-button" : "editunlisting-button") #, t(:save)






