-#This is for viewing the unlisting full info
-provide(:title, '')

%h5.breadcrumb.text-muted
  ="#{@unlisting.category.name}"
  %span= "-> #{@unlisting.title}"

.row#userbox.col-xs-8
  #contactbuyer{style: "#{ ( flash[:error].present? ? 'display:block' : 'display: none' ) }" }
    =render partial: 'unlistings/message_form', locals: { unlisting: @unlisting, message: @message }
  #userboxcontent.well

    .buyer-info.text-right
      ///POSSIBLE CANDIDATE FOR DECORATOR
      -if signed_in? && creator?(@unlisting)
        =@unlisting.creator.decorator.avatar_image_tag(60)
        %p= link_to "[edit unlisting]", edit_user_unlisting_path(current_user, @unlisting), class: 'contact-buyer-link'
      -else
        =link_to unlisting_show_message_form_path(@unlisting), remote: true, class: 'contact-buyer-link' do
          =@unlisting.creator.decorator.avatar_image_tag(60)
        %p= link_to "[contact buyer]", unlisting_show_message_form_path(@unlisting), remote: true, class: 'contact-buyer-link'

    -if @unlisting.unimages.present? || @unlisting.link_image.present?
      .galleria
        -if @unlisting.link_image.present?
          %a{ href: @unlisting.link_image, title: "external link", alt: 'external photo' }
            =image_tag(@unlisting.link_image)
        -@unlisting.unimages.each do |unimage|
          %a{ href: unimage.filename.url(:full_unimage), title: unimage.id, alt: 'unimage photo' }
            =image_tag(unimage.filename.url(:thumb_unimage))
      %div
        =javascript_tag do
          ="Galleria.loadTheme( '#{javascript_path 'galleria.classic.min.js'}');"
          ="Galleria.run('.galleria');"
    %br
    %hr

    -if @unlisting.link.present?
      %h5
        Here's An Example:
        =link_to "#{@unlisting.link}", @unlisting.link, target: 'blank'
    %p= "Looking for:  #{ @unlisting.title       }"
    %p= "Description:  #{ @unlisting.description }"
    %ul.unlisting-top-details
      %li= "Pay up to: #{ number_to_currency(@unlisting.price, precision: 0) }"
      %li= "Condition: #{ @unlisting.condition.level                         }"
      %li
        Location:
        -if @unlisting.creator.location.zipcode
          ="#{@unlisting.creator.location.zipcode}"
        -elsif @unlisting.creator.location.city && @unlisting.creator.location.state
          ="#{@unlisting.creator.location.city.capitalize}, #{@unlisting.creator.location.state.upcase}"
    %p
      Keywords:
      %ul.unlisting-keywords
        %li= "#{@unlisting.keyword1}"
        -unless @unlisting.keyword2.blank?
          %li= " | #{@unlisting.keyword2}"
        -unless @unlisting.keyword3.blank?
          %li= " | #{@unlisting.keyword3}"
        -unless @unlisting.keyword4.blank?
          %li= " | #{@unlisting.keyword4}"
        //-#Need a decorator here to gather keywords & display them properly



